.container.card{
    width: calc(100%);
}

body{
    /* background: linear-gradient(90deg, rgba(249,206,142,1) 0%, rgba(250,116,155,1) 74%); */
    background: linear-gradient(90deg, rgba(249,206,142,1) 0%, rgba(250,116,155,1) 74%);

}

h1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:20%;

}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
  }